/* ==== RESET BASE ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==== VARIABLES ==== */
:root {
    --bg-color: #0f172a;
    --text-color: #f1f5f9;
    --accent-color: #38bdf8;
    --secondary-text: #94a3b8;
    --max-width: 1100px;
}

/* ==== BASE GLOBAL ==== */
body {
    font-family: "segoe UI", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
}

